.sample{
    font-size: 100px;
    line-height: 1.5;
    color: blue;
}
.rectangle{
    width: 120px;
    height: 50px;
    background-color: sienna;
    margin-left: 20px;
    padding-left: 5px;
}